/* variables */
:root {
    --primary: #5E3BEE;
    --secondary: #1C1E53;
    --tertiary: #F5FCFF;
    --color: #006B6A;
    --heading: #282938;
}

/* navbar */
.heading {
    color: var(--heading);
}

.home {
    color: var(--primary);
}

.links {
    color: var(--secondary);
}

.btn-purple {
    color: var(--primary);
    border: 1px solid var(--primary);
}

/* hero section */
.lightblue {
    background-color: var(--tertiary);
}

.get-btn {
    background-color: var(--primary);
    color: white;
}

/* features */
.color-purple {
    border-bottom: 2px solid var(--primary);
}

.width {
    width: 23%;
}

/* about me */
.justify {
    text-align: justify;
}

/* my projects */
.project-width {
    width: 30%;
}

.border-line {
    border-bottom: 1px solid var(--primary);
}

.arrow {
    width: 15px;
}

/* customer testimonials */
.green-b {
    border: 1px solid var(--color);
}

.custom {
    width: 31%;
}

.img-width {
    width: 20%;
}